@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(../fonts/calibri/calibri.css);


@font-open-sans: 'Open Sans', sans-serif;
@font-calibri: 'Calibri';

@import "mixing.less";

/* Base styles
   ========================= */

* {
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
	color: #444;
}

html {
	font-size: 14px;
	min-height: 100%;
	background: #fff;
	position: relative;
	line-height: 1.64285;
	font-family: @font-open-sans;
}

body {
	margin-bottom: 130px;
}

.container {
	width: 1240px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}


/* Header
============================ */
.header {
	height: 390px;
	background: url("../img/header_bg.jpg") top center no-repeat;

	.header-top {
		width: 100%;
		height: 63px;
		position: relative;
		text-align: center;

		.header-logo {
			top: 8px;
			left: 33px;
			width: 164px;
			height: 41px;
			cursor: pointer;
			position: absolute;
			background: url("../img/logo.png") 0 0 no-repeat;
		}

		.header-address {
			right: 0;
			top: 8px;
			color: #444;
			width: 230px;
			font-size: 14px;
			line-height: 15px;
			text-align: right;
			position: absolute;
			padding-right: 40px;

			&:before {
				right: 0;
				top: 10px;
				width: 22px;
				height: 31px;
				content: " ";
				position: absolute;
				background: url("../img/sprite.png") -327px 0 no-repeat;
			}
		}

		.header-phone {
			color: #444444;
			font-size: 32px;
			line-height: 33px;
			padding: 15px 14px;
			display: inline-block;
			font-family: @font-calibri;

			.code {
				color: #a86b00;
				font-size: 27px;
			}


		}
	}

	.header-nav {
		float: left;
		width: 232px;
		height: 327px;
		background: rgba(255, 255, 255, .43);

		ul {
			margin-bottom: 28px;
		}

		li {
			height: 45px;
			background: url("../img/header_nav_bg.png") 0 -1px no-repeat;

			a {
				color: #444;
				width: 100%;
				height: 45px;
				outline: none;
				font-size: 19px;
				line-height: 20px;
				padding: 12px 16px;
				display: inline-block;
				text-decoration: none;
			}

			&:hover {
				text-decoration: none;
			}

			&:hover {
				background-position: 0 -47px;
			}
		}

		.leave-request {
			color: #fff;
			width: 100%;
			border: none;
			height: 32px;
			outline: none;
			display: block;
			cursor: pointer;
			font-size: 15px;
			font-weight: 700;
			padding: 5px 17px;
			line-height: 20px;
			position: relative;
			background: #c29365;
			text-decoration: none;

			&:before {
				top: 12px;
				z-index: 10;
				right: 24px;
				width: 22px;
				height: 8px;
				content: " ";
				position: absolute;
				background: url("../img/sprite.png") -349px 0;
			}

			&:hover {
				background: #ee9a1a;
			}

			&:active {
				top: 1px;
			}

		}
	}

	.header-service {
		float: left;
		width: 960px;
		height: 327px;
		position: relative;

		a {
			color: #fff;
			display: block;
			cursor: pointer;
			font-size: 28px;
			line-height: 36px;
			position: absolute;
			text-decoration: none;
			font-family: @font-calibri;
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
			background: url("../img/sprite.png") no-repeat;

			&:hover {
				color: #ba6410;
				text-decoration: none;
			}

			span {
				position: relative;
				display: inline-block;
			}

			&.item1 {
				top: 60px;
				left: 95px;
				width: 327px;
				height: 93px;
				position: absolute;
				background-position: 0 0;

				&:hover {
					background-position: 0 -100px;
				}

				span {
					top: -8px;
				}
			}

			&.item2 {
				top: 20px;
				right: 30px;
				width: 205px;
				height: 62px;
				position: absolute;
				padding-left: 35px;
				background-position: 0 -300px;

				&:hover {
					background-position: 0 -365px;
				}

				span {
					top: -8px;
				}
			}

			&.item3 {
				top: 185px;
				left: 495px;
				width: 208px;
				height: 42px;
				position: absolute;
				background-position: 0 -200px;

				&:hover {
					background-position: 0 -250px;
				}
			}
		}
	}
}


/* TopNav
============================ */

.topnav {
	height: 50px;
	margin-bottom: 30px;
	background: #f9bd6c;

	ul {
		height: 50px;
		font-size: 0;
		text-align: center;
	}

	li {
		font-size: 0;
		height: 50px;
		display: inline-block;
		border-left: 1px solid #d3a05c;
		border-right: 1px solid #e3b16d;

		&:first-child {
			border-left: 1px solid transparent;
		}

		&:last-child {
			border-right: 1px solid transparent;
		}
	}

	a {
		height: 50px;
		color: #383434;
		font-size: 18px;
		line-height: 30px;
		padding: 10px 15px;
		position: relative;
		display: inline-block;
		text-decoration: none;

		&:hover {
			text-decoration: none;
			background-color: #dea860;

			&:before {
				left: 15px;
				right: 15px;
				height: 1px;
				z-index: 20;
				bottom: 10px;
				content: " ";
				position: absolute;
				background: #ad8b5c;
			}
		}
	}
}


/* Form Request
============================ */

.form-request-block {
	height: 440px;
	padding-top: 80px;
	background: url("../img/form_request_bg.jpg") top center no-repeat;

	.form-request {
		width: 830px;
		margin: 0 auto;
		text-align: center;
		padding: 20px 142px 0 142px;
		background: url("../img/form_request.png") top center no-repeat;

		&.form-request-start {
			height: 269px;

		}

		&.form-request-success {
			height: 170px;
			display: none;
			margin-top: 55px;
			background-position: 50% -55px;

			p {
				margin-bottom: 20px;
			}
		}

		.form-request-title {
			color: #000;
			font-size: 31px;
			line-height: 31px;
			font-weight: 600;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		p {
			color: #31343e;
			font-weight: 600;
			margin-bottom: 10px;
		}

		.form-group {
			margin-bottom: 18px;
		}

		.form-control {
			width: 100%;
			border: none;
			outline: none;
			color: #909297;
			font-size: 19px;
			background: #fff;
			font-weight: 700;
			line-height: 30px;
			padding: 5px 20px;
			text-align: center;
			.border-radius(4px);
			display: inline-block;
			vertical-align: middle;
		}
	}
}


/* Action block
============================ */

.action {
	margin-top: -20px;
	margin-bottom: 8px;

	.action-title {
		color: #2e2e2e;
		font-size: 46px;
		line-height: 80px;
		position: relative;
		margin-bottom: 20px;
		padding-bottom: 10px;

		&:before {
			left: 0;
			bottom: 2px;
			height: 2px;
			width: 147px;
			content: " ";
			position: absolute;
			background: #f6a636;
		}
	}

	.action-slider {
		width: 100%;
		height: 183px;
		overflow: hidden;
		margin-bottom: 22px;

		.action-item {
			width: 100%;
			height: 183px;
			position: relative;
		}

		.action-content {
			top: 0;
			left: 0;
			color: #fff;
			width: 100%;
			height: 100%;
			font-size: 22px;
			font-weight: 700;
			line-height: 36px;
			position: absolute;
			padding: 30px 40px 0 600px;

			.slide-title {
				font-size: 28px;
				line-height: 30px;
				margin-bottom: 20px;
				text-transform: uppercase;
			}
		}

		.slick-dots {
			left: 0;
			right: 0;
			margin: 0;
			padding: 0;
			bottom: 10px;
			list-style: none;
			position: absolute;
			text-align: center;

			li {
				width: 13px;
				height: 13px;
				font-size: 0;
				margin: 0 6px;
				display: inline-block;

				button {
					width: 13px;
					height: 13px;
					font-size: 0;
					border: none;
					outline: none;
					overflow: hidden;
					display: inline-block;
					background: url("../img/sprite.png") -349px -8px no-repeat;
				}

				&.slick-active {

					button {
						background-position: -362px -8px;
					}
				}
			}
		}
	}

	p {
		font-size: 18px;
		font-weight: 300;
		line-height: 22px;
	}
}


/* Footer
============================ */

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 168px;
	position: absolute;
	background: url("../img/footer_bg.png") bottom center no-repeat;

	.footer-top {
		height: 78px;
		color: #2a2828;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		padding-top: 50px;
		text-align: center;

		.ogr-name {
			margin-right: 120px;
		}
	}

	.footer-nav {
		height: 30px;
		padding: 5px 0;
		line-height: 20px;
		text-align: center;


		li {
			margin: 0 8px;
			display: inline;
		}

		a {
			color: #2a2828;
			font-size: 14px;
			font-weight: 600;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.footer-social {
		text-align: center;

		.social-title {
			color: #1a1a1a;
			font-size: 11px;
			line-height: 28px;
		}

		ul {
			margin: 0;
			padding: 0;
			font-size: 0;
			list-style: none;
			text-align: center;
		}

		li {
			width: 20px;
			height: 20px;
			font-size: 0;
			margin: 0 6px;
			display: inline-block;
		}

		a {
			width: 100%;
			height: 100%;
			font-size: 0;
			cursor: pointer;
			display: inline-block;
			background: url("../img/icon-social.png") 0 0 no-repeat;

			&.vk {
				background-position: 0 0;
			}

			&.ok {
				background-position: -31px 0;
			}

			&.yandex {
				background-position: -62px 0;
			}

			&.mailru {
				background-position: -93px 0;
			}

			&.fb {
				background-position: -124px 0;
			}

			&.tw {
				background-position: -156px 0;
			}

			&.soc01 {
				background-position: -187px 0;
			}

			&.li {
				background-position: -218px 0;
			}
		}
	}
}


/* Content
============================ */

.main {
	margin-bottom: 30px;
}

.content-service {

	.content-service-title {
		height: 103px;
		color: #2b2a29;
		font-size: 30px;
		padding-top: 0;
		line-height: 70px;
		text-align: center;
		margin-bottom: 35px;
		background: #fff url("../img/content_service_bg.jpg") top center no-repeat;

		span {
			padding-left: 47px;
			position: relative;
			display: inline-block;

			&:before {
				left: 0;
				top: 20px;
				width: 31px;
				height: 32px;
				content: " ";
				position: absolute;
				background: url("../img/sprite.png") -327px -31px no-repeat;
			}
		}
	}

	.service-list {
		padding: 0;
		list-style: none;
		position: relative;
		margin: 0 0 -20px 0;

		li {
			z-index: 20;
			font-size: 14px;
			line-height: 18px;
			position: relative;
			text-align: justify;


			&.item1 {
				height: 320px;
				margin-top: -95px;
				padding-top: 90px;
				background: url("../img/bmw.png") 40px 5px no-repeat;

				.service-text {
					padding: 0 20px;
					margin: 0 40px 100px 297px;
					border-left: 2px solid #f6a636;
				}
			}

			&.item2 {
				height: 339px;
				padding-top: 55px;
				background: url("../img/volkswagen.png") right 5px no-repeat;

				.service-text {
					padding: 0 20px;
					margin: 0 355px 100px 40px;
					border-right: 2px solid #f6a636;
				}
			}

			&.item3 {
				height: 320px;
				padding-top: 80px;
				margin-top: -50px;
				background: url("../img/porshe.png") 50px 0 no-repeat;

				.service-text {
					padding: 0 20px;
					margin: 0 40px 100px 297px;
					border-left: 2px solid #f6a636;
				}
			}
		}
	}
}

.portfolio {
	height: 248px;
	padding-top: 5px;
	background: url("../img/work_bg.jpg") top center no-repeat;

	h2 {
		color: #2b2a29;
		font-size: 30px;
		padding-top: 0;
		line-height: 45px;
		text-align: center;
		margin-bottom: 17px;
		padding-bottom: 5px;
		background: url("../img/title-line.png") bottom center no-repeat;
	}

	.portfolio-slider {
		padding: 0;
		height: 165px;
		margin: 0 22px;
		overflow: hidden;
		list-style: none;

		li {
			float: left;
			width: 275px;
			margin: 0 7px;

			a {
				display: block;
				cursor: pointer;
			}
		}
	}

	.portfolio-nav {
		top: 140px;
		width: 16px;
		height: 19px;
		cursor: pointer;
		position: absolute;
		background: url("../img/sprite.png") no-repeat;

		&.prev {
			left: 20px;
			background-position: -327px -63px;
		}

		&.next {
			right: 20px;
			background-position: -349px -63px;
		}
	}
}

.contact {
	padding: 0;
	list-style: none;
	margin: 0 0 50px 0;

	li {
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		margin-bottom: 20px;

		#map {
			width: 100%;
			height: 320px;
			margin-bottom: 50px;
			border: 1px solid #e9e5dc;
		}

		.contact-title {
			color: #a87f58;
			min-height: 24px;
			padding-left: 40px;
			position: relative;
			display: inline-block;

			&:before {
				top:0;
				left: 0;
				content: " ";
				position: absolute;
				background: url("../img/sprite.png") no-repeat;
			}
		}

		&.address {

			.contact-title:before {
				top: 4px;
				width: 22px;
				height: 22px;
				background-position: -380px 0;
			}
		}

		&.phone {

			.contact-title:before {
				top: 4px;
				width: 22px;
				height: 22px;
				background-position: -380px -60px;
			}
		}

		&.email {

			.contact-title:before {
				width: 23px;
				height: 24px;
				background-position: -380px -31px;
			}
		}

		&.worktime {

			.contact-title:before {
				top: 5px;
				width: 23px;
				height: 23px;
				background-position: -380px -87px;
			}
		}
	}


}

.cat-tabs {
	margin-top: 30px;
	min-height: 520px;
	background: url("../img/cat_tabs_bg.jpg") 50% 40px no-repeat;

	> ul {
		margin: 0;
		padding: 0;
		height: 330px;
		list-style: none;
		position: relative;

		li {
			position: absolute;

			a {
				width: 100%;
				height: 100%;
				outline: none;
				color: #908e8e;
				display: block;
				cursor: pointer;
				font-size: 22px;
				line-height: 30px;
				text-decoration: none;
				background: url("../img/sprite.png") no-repeat;

				&:hover {
					color: #ffa854;
					text-decoration: none;
				}

				span {
					position: relative;
					display: inline-block;
				}
			}

			&.item1 {
				top: 52px;
				left: 159px;
				width: 320px;
				height: 58px;

				a {
					padding: 20px 0 0 10px;
					background-position: 0 -432px;

					&:hover {
						background-position: 0 -501px;
					}
				}
			}

			&.item2 {
				top: 0px;
				left: 625px;
				width: 425px;
				height: 70px;

				a {
					padding: 0 0 0 160px;
					background-position: 0 -841px;

					&:hover {
						background-position: 0 -912px;
					}
				}
			}

			&.item3 {
				top: 185px;
				left: 65px;
				width: 425px;
				height: 70px;

				a {
					padding: 20px 0 0 10px;
					background-position: 0 -710px;

					&:hover {
						background-position: 0 -781px;
					}
				}
			}

			&.item4 {
				top: 95px;
				left: 730px;
				width: 370px;
				height: 70px;

				a {
					padding: 20px 10px 0 160px;
					background-position: 0 -990px;

					span {
						top: -10px;
					}

					&:hover {
						background-position: 0 -1060px;
					}
				}
			}

			&.item5 {
				top: 170px;
				left: 825px;
				width: 350px;
				height: 60px;

				a {
					padding: 20px 10px 0 70px;
					background-position: 0 -570px;

					&:hover {
						background-position: 0 -640px;
					}
				}
			}
		}
	}

	.cat-item {
		margin-bottom: 30px;

		p {
			padding-left: 20px;
			margin-bottom: 40px;
			border-left: 2px solid #f6a636;
		}
	}
}

.result {
	padding: 0;
	width: 1038px;
	margin: 0 auto;
	list-style: none;

	li {
		float: left;
		width: 304px;
		margin: 0 21px;

		figure {
			margin: 0;
			padding: 0;
		}

		.result-image {
			width: 100%;
			height: 389px;
			overflow: hidden;
			position: relative;
			margin-bottom: 16px;
		}

		.result-up {
		}

		.result-after {
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			transform: translateZ(0);
			backface-visibility: hidden;
		}

		.is-visible .result-after{
			width: 50%;
			/* bounce in animation of the modified image */
			animation: cd-bounce-in 0.7s;
		}

		.result-title {
			color: #4f4f4f;
			font-size: 16px;
			line-height: 23px;
			text-align: center;
			position: relative;

			&:before {
				top: 0;
				left: 50%;
				height: 1px;
				width: 78px;
				content: " ";
				margin-left: -39px;
				position: absolute;
				background: #ee9a1a;
			}
		}
	}
}


/* Button % Form
============================ */

.btn {
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	.border-radius(4px);

	&:hover {
		text-decoration: none;
	}

	&:active {
		top: 1px;
		position: relative;
	}

	&.btn-gray {
		color: #fff;
		font-size: 20px;
		padding: 10px 50px;
		background: #31343e;
		text-transform: uppercase;

		&:hover {
			background: #686a71;
		}
	}

	&.btn-orange {
		color: #fff;
		font-size: 18px;
		padding: 8px 60px 8px 18px;
		background: #ee9a1a;
		.border-radius(4px);
		text-align: left;

		&:before {
			top: 16px;
			z-index: 10;
			right: 18px;
			width: 22px;
			height: 8px;
			content: " ";
			position: absolute;
			background: url("../img/sprite.png") -349px 0;
		}

		&:hover {
			background: #f18016;
		}
	}

	&.btn-result {
		color: #fff;
		font-size: 23px;
		padding: 6px 13px;
		line-height: 30px;
		cursor: default;
		background: #ee9a1a;
		margin-bottom: 20px;
		text-transform: uppercase;

		&:hover {
		//	background: #f18016;
		}
	}
}

/* Typography
   ========================= */

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1,h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	margin-bottom: 30px;
}

h1 {
	padding-bottom: 25px;
}

h2 {
	padding-top: 20px;
}

p {
	padding: 0;
	margin: 0 0 20px 0;
}

a {
	color: #c87401;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.text-right {
	text-align: center;
}

.text-yellow {
	color: #ffd800;
}

.text-orange {
	color: #ca7909;
}

.fs24 {
	font-size: 24px;
}

//**** img compare

.result-image {
	position: relative;
	width: 389px;
	margin: 0 auto;

	img {
		display: block;
	}
}

.cd-image-label.is-hidden {
	visibility: hidden;
}
.is-visible .cd-image-label {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.cd-resize-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	overflow: hidden;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cd-resize-img img {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	height: 100%;
	width: auto;
	max-width: none;
}
.cd-resize-img .cd-image-label {
	right: auto;
	left: 0;
}
.is-visible .cd-resize-img {
	width: 50%;
	/* bounce in animation of the modified image */
	-webkit-animation: cd-bounce-in 0.7s;
	-moz-animation: cd-bounce-in 0.7s;
	animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
	0% {
		width: 0;
	}
	60% {
		width: 55%;
	}
	100% {
		width: 50%;
	}
}
@-moz-keyframes cd-bounce-in {
	0% {
		width: 0;
	}
	60% {
		width: 55%;
	}
	100% {
		width: 50%;
	}
}
@keyframes cd-bounce-in {
	0% {
		width: 0;
	}
	60% {
		width: 55%;
	}
	100% {
		width: 50%;
	}
}
.cd-handle {
	position: absolute;
	height: 389px;
	width: 43px;
	/* center the element */
	left: 50%;
	top: 0;
	margin-left: -22px;
	margin-top: 0;
	background: url("../img/image-divider.png") 0 0 no-repeat;
	cursor: move;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0) scale(0);
	-moz-transform: translate3d(0, 0, 0) scale(0);
	-ms-transform: translate3d(0, 0, 0) scale(0);
	-o-transform: translate3d(0, 0, 0) scale(0);
	transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle.draggable {
	/* change background color when element is active */
}
.is-visible .cd-handle {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-moz-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	-o-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
	-webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
	-moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
	transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}
